<aside class="asidePages-container">
  <ul>
    <li>
      <div class="aside-page">
        <div class='asideImg-contanier'>
          <img src="./assets/images/user.jpg" alt="watch-colored" class="asideImg-contanier__img user-img" />
        </div>
        <div class='asideTitle-container'>
          <span class="asideTitle-container__title user-title">Alaa Alaff</span>
        </div>
      </div>
    </li>

     <li>
      <div class="aside-page">
        <div class='asideImg-contanier'>
          <img src="./assets/images/friends-colored.png" alt="friends" class="asideImg-contanier__img" />
        </div>
        <div class='asideTitle-container'>
          <span class="asideTitle-container__title">Friends</span>
        </div>
      </div>
    </li>

     <li>
      <div class="aside-page">
        <div class='asideImg-contanier'>
          <img src="./assets/images/groups-colored.png" alt="groups" class="asideImg-contanier__img" />
        </div>
        <div class='asideTitle-container'>
          <span class="asideTitle-container__title">Groups</span>
        </div>
      </div>
    </li>

     <li>
      <div class="aside-page">
        <div class='asideImg-contanier'>
          <img src="./assets/images/flag-color.png" alt="pages" class="asideImg-contanier__img" />
        </div>
        <div class='asideTitle-container'>
          <span class="asideTitle-container__title">Pages</span>
        </div>
      </div>
    </li>

     <li>
      <div class="aside-page">
        <div class='asideImg-contanier'>
          <img src="./assets/images/watch-colored.png" alt="watch-colored" class="asideImg-contanier__img" />
        </div>
        <div class='asideTitle-container'>
          <span class="asideTitle-container__title">Watch</span>
        </div>
      </div>
    </li>

     <li>
      <div class="aside-page">
        <div class='asideImg-contanier'>
          <img src="./assets/images/calendar.png" alt="events" class="asideImg-contanier__img" />
        </div>
        <div class='asideTitle-container'>
          <span class="asideTitle-container__title">Events</span>
        </div>
      </div>
    </li>

     <li>
      <div class="aside-page">
        <div class='asideImg-contanier'>
          <img src="./assets/images/memories-colored.png" alt="memories" class="asideImg-contanier__img" />
        </div>
        <div class='asideTitle-container'>
          <span class="asideTitle-container__title">Memories</span>
        </div>
      </div>
    </li>

     <li>
      <div class="aside-page">
        <div class='asideImg-contanier'>
          <img src="./assets/images/flag-colored.png" alt="saved" class="asideImg-contanier__img" />
        </div>
        <div class='asideTitle-container'>
          <span class="asideTitle-container__title">Saved</span>
        </div>
      </div>
    </li>

     <li>
      <div class="aside-page">
        <div class='asideImg-contanier'>
          <img src="./assets/images/store.png" alt="marketplace" class="asideImg-contanier__img" />
        </div>
        <div class='asideTitle-container'>
          <span class="asideTitle-container__title">Marketplace</span>
        </div>
      </div>
    </li>

    <li>
      <div class="aside-page">
        <div class='asideImg-contanier'>
          <img src="./assets/images/jobs-colored.png" alt="jobs" class="asideImg-contanier__img" />
        </div>
        <div class='asideTitle-container'>
          <span class="asideTitle-container__title">Jobs</span>
        </div>
      </div>
    </li>

     <li>
      <div class="aside-page">
        <div class='asideImg-contanier'>
          <img src="./assets/images/arrow-down-sign-to-navigate.png" alt="see more" class="asideImg-contanier__img" />
        </div>
        <div class='asideTitle-container'>
          <span class="asideTitle-container__title">See More</span>
        </div>
      </div>
    </li>

  </ul>
</aside>