<section class="contacts-container">
  <nav class="contacts-menu">
    <div class="contacts-menu__title">
      <span>Contacts</span>
    </div>
    <div class="menu">
      <div class="menu__option">
        <a href='£'>
          <img
            src="./assets/images/video-camera.png"
            alt="video call"
            class="menu__icon"
          />
        </a>
      </div>
      <div class="menu__option">
        <a href='£'>
          <img
            src="./assets/images/loupe.png"
            alt="search"
            class="menu__icon"
          />
        </a>
      </div>
      <div class="menu__option">
        <a href='£'>
          <img src="./assets/images/three-dots.png" alt="more options" class="menu__icon" />
        </a>  
      </div>
    </div>
  </nav>
  <div class="contacts">
    <div class="contact">
      <div class="contact__img-container">
        <img src="https://randomuser.me/api/portraits/men/37.jpg" alt="contact img" class="contact__img" />
      </div>
      <span class="contact__name">Darsh Herman</span>
    </div>

    <div class="contact">
      <div class="contact__img-container">
        <img src="https://randomuser.me/api/portraits/men/57.jpg" alt="contact img" class="contact__img" />
      </div>
      <span class="contact__name">Musab Dawson
   </span>
    </div>

    <div class="contact">
      <div class="contact__img-container">
        <img src="https://randomuser.me/api/portraits/men/22.jpg" alt="contact img" class="contact__img" />
      </div>
      <span class="contact__name">Emre Harding</span>
    </div>

    <div class="contact">
      <div class="contact__img-container">
        <img src="https://randomuser.me/api/portraits/women/67.jpg" alt="contact img" class="contact__img" />
      </div>
      <span class="contact__name">Lorelei Wilde</span>
    </div>

    <div class="contact">
      <div class="contact__img-container">
        <img src="https://randomuser.me/api/portraits/women/22.jpg" alt="contact img" class="contact__img" />
      </div>
      <span class="contact__name">Rayyan Molloy</span>
    </div>

    <div class="contact">
      <div class="contact__img-container">
        <img src="https://randomuser.me/api/portraits/men/26.jpg" alt="contact img" class="contact__img" />
      </div>
      <span class="contact__name">Cora Brewer</span>
    </div>

    <div class="contact">
      <div class="contact__img-container">
        <img src="https://randomuser.me/api/portraits/men/22.jpg" alt="contact img" class="contact__img" />
      </div>
      <span class="contact__name">Tariq Winters</span>
    </div>
    
    <div class="contact">
      <div class="contact__img-container">
        <img src="https://randomuser.me/api/portraits/men/2.jpg" alt="contact img" class="contact__img" />
      </div>
      <span class="contact__name">Dominik Johns</span>
    </div>

    <div class="contact">
      <div class="contact__img-container">
        <img src="https://randomuser.me/api/portraits/women/12.jpg" alt="contact img" class="contact__img" />
      </div>
      <span class="contact__name">Brigitta Charmaine</span>
    </div>

    <div class="contact">
      <div class="contact__img-container">
        <img src="https://randomuser.me/api/portraits/women/42.jpg" alt="contact img" class="contact__img" />
      </div>
      <span class="contact__name">Geneviève Lucinda</span>
    </div>



  </div>

  
</section>