<section class="contacts-container">
  <nav class="contacts-menu">
    <span class="contacts-menu__title">Contacts</span>
    <div class="menu">
      <div class="menu__option">
        <img src="" alt="" class="menu__icon" />
      </div>
      <div class="menu__option">
        <img src="" alt="" class="menu__icon" />
      </div>
      <div class="menu__option">
        <img src="" alt="" class="menu__icon" />
      </div>
    </div>
  </nav>
  <div class="contacts">
    <div class="contact">
      <div class="contact__img-container">
        <img src="" alt="" class="contact__img" />
      </div>
      <span class="contact__name">Ghada Skaik</span>
    </div>
  </div>
</section>