<section class="contacts-container">
  <nav class="contacts-menu">
    <div class="contacts-menu__title">
      <span> Contacts </span>
    </div>
    <div class="menu">
      <div class="menu__option">
        <a href='£'>
          <img
            src="./assets/images/video-camera.png"
            alt="video call"
            class="menu__icon"
          />
        </a>
      </div>
      <div class="menu__option">
        <a href='£'>
          <img
            src="./assets/images/search-btn.png"
            alt="search"
            class="menu__icon"
          />
        </a>
      </div>
      <div class="menu__option">
        <a href='£'>
          <img src="./assets/images/three-dots.png" alt="more options" class="menu__icon" />
        </a>  
      </div>
    </div>
  </nav>
  <div class="contacts">
    <div class="contact">
      <div class="contact__img-container">
        <img src="" alt="" class="contact__img" />
      </div>
      <span class="contact__name"></span>
    </div>
  </div>
</section>