    <section class="createRoom-container">
      <div class="create-room">
        <img src="./assets/images/create-room.png" alt="create video" class="create-room__icon" />
        <p class="create-room__title">Create Room</p>
      </div>
      <div class="users-container">
        <div class="userImage">
          <img src="https://randomuser.me/api/portraits/men/26.jpg" alt="user" class="userImage__img" />
        </div>
        <div class="userImage">
          <img src="https://randomuser.me/api/portraits/women/26.jpg" alt="user" class="userImage__img" />
        </div>
        <div class="userImage">
          <img src="https://randomuser.me/api/portraits/men/6.jpg" alt="user" class="userImage__img" />
        </div>
        <div class="userImage ">
          <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="user" class="userImage__img" />
        </div>
        <div class="userImage deleted-user">
          <img src="https://randomuser.me/api/portraits/women/5.jpg" alt="user" class="userImage__img" />
        </div>
        <div class="userImage deleted-user">
          <img src="https://randomuser.me/api/portraits/men/21.jpg" alt="user" class="userImage__img" />
        </div>
      </div>
    </section>