<div class='header-container'>
  {% include "./header components/searchBox.njk" %}

  {% include "./header components/pagesContainer.njk" %}

  {% include "./header components/notificationContainer.njk" %}
</div>
