    <div class="search-box">
      <img class="search-box__logo" src="./assets/images/facebook.png" alt="facebook logo" />
      <label class="input-box">
          <img src="./assets/images/search-btn.png" alt="search btn" class="input-box__search" />
        <input type="search" placeholder="Search Facebook" class='input-box__input'/>
      </label>
    </div>