    <div class="search-box">
      <img class="search-box__logo" src="" alt="" />
      <label class="input-box">
        <span>
          <img src="" alt="" class="input-box__search" />
        </span>
        <input type="search" placeholder="Search Facebook" />
      </label>
    </div>