<section class="sharePost-container">
    <div class="share">
        <img src="./assets/images/user.jpg" alt="user" class="share__user-img" />
        <input
            type="text"
            class="share__input"
            placeholder="What's on your mind, Alaa?"
        />
        </div>

        <div class="options-container">
        <div class="share-option">
            <img src="./assets/images/live-video.png" alt="live video" class="share-option__img" />
            <p class="share-option__title">Live Video</p>
        </div>
        <div class="share-option">
            <img src="./assets/images/gallery.png" alt="photo/video" class="share-option__img" />
            <p class="share-option__title">Photo/Video</p>
        </div>
        <div class="share-option">
            <img src="./assets/images/happy.png" alt="feeling" class="share-option__img" />
            <p class="share-option__title">Feeling/Acticity</p>
        </div>
    </div>
</section>