<nav class="notifications-container">
    <div class="notifications__icons">
        <div class="user-container">
            <img src="./assets/images/user.jpg" alt="user" class="user-container__img" />
            <span class="user-container__name">Alaa</span>
        </div>

        <div class="icon-container">
            <img src="./assets/images/dots-menu.png" alt="menu" class="icon-container__img" />
        </div>
        <div class="icon-container">
            <img src="./assets/images/messenger.png" alt="messenger" class="icon-container__img" />
        </div>
        <div class="icon-container">
            <img src="./assets/images/bell.png" alt="notifications" class="icon-container__img" />
        </div>
        <div class="icon-container">
            <img src="./assets/images/down-filled-triangular-arrow.png" alt="account" class="icon-container__img" />
        </div>
    </div>
</nav>