<nav class="pages-navbar">
  <div class="pages-container">
    <div class="page active" tabindex="1">
      <a href="#">
        <img
          src="./assets/images/home.png"
          alt="home page"
          class="page__logo"
        />
      </a>
    </div>

    <div class="page" tabindex="2">
      <a href="#">
        <img
          src="./assets/images/flag.png"
          alt="pages page"
          class="page__logo"
        />
      </a>
    </div>

    <div class="page" tabindex="3">
      <a href="#">
        <img
          src="./assets/images/youtube.png"
          alt="watch page"
          class="page__logo"
        />
      </a>
    </div>

    <div class="page" tabindex="4">
      <a href="#">
        <img
          src="./assets/images/shopping-store.png"
          alt="shopping-store page"
          class="page__logo"
        />
      </a>
    </div>

    <div class="page" tabindex="5">
      <a href="#">
        <img
          src="./assets/images/group.png"
          alt="groups page"
          class="page__logo"
        />
      </a>
    </div>
  </div>
</nav>