<div class="search-box">
  <div class='search-box__logo'>
      <img class="search-box__img" src="./assets/images/facebook.png" alt="facebook logo" />
  </div>
  <label class="input-box">
      <img src="./assets/images/search-btn.png" alt="search btn" class="input-box__search" />
      <input type="search" placeholder="Search Facebook" class='input-box__input'/>
  </label>
</div>