{% include "../../components/header.njk" %}
<main class='body-container'>
    {% include "../../components/asidePages.njk" %}
      <div class='main-container'>
        {% include "../../components/stories.njk" %}
      </div>
</main>