{% include "../../components/header.njk" %}
<main class='body-container'>
    <div> 
       {% include "../../components/asidePages.njk" %}
    </div>
    <div class='main-body'>
       {% include "../../components/stories.njk" %}

       {% include "../../components/sharePost.njk" %}

       {% include "../../components/createRoom.njk" %}
    </div>
    <div>
        {% include "../../components/contacts.njk" %}
    </div>
</main>