{% include "../../components/header.njk" %}
<main class='body-container'>
    <div> 
    {% include "../../components/asidePages.njk" %}
    </div>
    <div>
        {% include "../../components/stories.njk" %}
    </div>
    <div>
        {% include "../../components/contacts.njk" %}
    </div>
</main>