<section class="post-container">
  <div class="postHeader-container">
    <img src="https://randomuser.me/api/portraits/men/22.jpg" alt="" class="postHeader-container__img" />
    <div class="title-box">
      <p class="title-box__name">Emre Harding</p>
      <div class="time-box">
        <span class="time-box__time">13h</span>
        <img src="./assets/images/world.png" alt="world" class="time-box__icon" />
      </div>
    </div>
    <div class='more-info'>
      <img src="./assets/images/three-dots.png" alt="more info" class="more-info__icon" />
    </div>
  </div>
</section>