<section class="reaction-container">
  <section class="interaction-container">
    <div class="likes-box">
      <img src="./assets/images/like2.png" alt="interactions" class="likes-box__icon" />
      <span class="likes-box__likes">204</span>
    </div>
    <span class="interaction-container__comments">36 Comments</span>
  </section>

  <section class="reacting-container">
    <div class="add-react">
      <img src="./assets/images/like-react.png" alt="react" class="add-react__icon" />
      <span class="add-react__title">Like</span>
    </div>
    <div class="add-react">
      <img src="./assets/images/chat.png" alt="react" class="add-react__icon" />
      <span class="add-react__title">Comment</span>
    </div>
    <div class="add-react">
      <img src="./assets/images/share.png" alt="react" class="add-react__icon" />
      <span class="add-react__title">Share</span>
    </div>
  </section>
</section>