<section class="postMaker-container hidden">
  <div class="title-contaner">
    <h3 class="title-contaner__title">Create Post</h3>
    <div class="close-modal">
      <img src='./assets/images/cancel.png' class='close-modal__icon' />
    </div>
  </div>
  <div class="user-box">
    <img src="./assets/images/user.jpg" alt="user" class="user-box__img" />
    <div class="share-status">
      <p class="share-status__name">Alaa Alaff</p>
      <div class="status-box">
        <img src="./assets/images/world.png" alt="world" class="status-box__icon" />
        <span class="status-box__public">Public</span>
        <img src="./assets/images/down-filled-triangular-arrow.png" alt="more" class="status-box__icon" />
      </div>
    </div>
  </div>
  <div class="details-box">
    <textarea
      name="input"
      cols="30"
      rows="10"
      class="details-box__description"
      placeholder="What's on your mind, Alaa?"
    ></textarea>
  </div>
  <div class="color-box">
    <img src="./assets/images/colors.png" alt="colors" class="color-box__icon" />
    <img src="./assets/images/happiness.png" alt="emoji" class="color-box__icon happiness" />
  </div>
  <div class="shareOptions-box">
    <p class="shareOptions-box__title">Add to your Post</p>
    <div class="share-options">
      <div class="option">
        <img src="./assets/images/gallery.png" alt="galary" class="option__icon" />
      </div>
      <div class="option">
        <img src="./assets/images/tag.png" alt="tag" class="option__icon" />
      </div>  
      <div class="option">
        <img src="./assets/images/smile.png" alt="emoji" class="option__icon" />
      </div>  
      <div class="option">
        <img src="./assets/images/placeholder.png" alt="location" class="option__icon" />
      </div>  
      <div class="option">
        <img src="./assets/images/microphone.png" alt="mic" class="option__icon" />
      </div>  
      <div class="option">
        <img src="./assets/images/three-dots.png" alt="more" class="option__icon" />
      </div>  
    </div>
  </div>
  <btn class="post-btn">
    <span class="post-btn__post">Post</span>
  </btn>
</section>
<div class="overlay hidden"></div>
