<section class="post-container">
  <div class="header-container">
    <img src="https://safe.org.au/wp-content/themes/safe-rescue-theme/assets/images/logo/safe-mobile.svg" alt="" class="header-container__img" />
    <div class="title-box">
      <p class="title-box__name">Save Animals</p>
      <div class="time-box">
        <span class="time-box__time">13h</span>
        <img src="./assets/images/world.png" alt="world" class="time-box__icon" />
      </div>
    </div>
    <div class='more-info'>
      <img src="./assets/images/three-dots.png" alt="more info" class="more-info__icon" />
    </div>
  </div>
</section>