.post-card {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 500px;
  margin-bottom: 30px;

  @include respond(phone) {
    width: 450px;
  }

  @include respond(small-phone) {
    width: 350px;
  }
}
