.postMaker-container {
  width: 500px;
  height: 428px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 10px;
  z-index: 10;

  @include respond(phone) {
    width: 325px;
    height: 330px;
  }
}

.hidden {
  display: none;
}

.title-contaner {
  height: 60px;
  padding-top: 20px;
  border-bottom: 1px solid #e5e5e5;

  @include respond(phone) {
    height: 40px;
  }

  &__title {
    text-align: center;
    position: relative;
    padding: 0;
    margin: 0;

    @include respond(phone) {
      margin-top: -10px;
      font-size: 18px;
    }
  }

  .close-modal {
    position: absolute;
    right: 16;
    top: 13;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $notifactions-bc;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    transition: all 0.3s;
    cursor: pointer;

    @include respond(phone) {
      margin-top: -10px;
      width: 28px;
      height: 28px;
      top: 15px;
    }

    &:hover {
      background-color: $btns-bc-hover;
      transition: all 0.3s;
    }

    &__icon {
      width: 15px;
      height: 15px;

      @include respond(phone) {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.user-box {
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 10px;
  margin-top: 15px;
  display: flex;

  &__img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
  }

  .share-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__name {
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 4px;
    }

    .status-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px 8px;
      background-color: $notifactions-bc;
      width: 84px;
      cursor: pointer;
      border-radius: 5px;

      &__public {
        font-size: 12px;
      }

      &__icon {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.details-box {
  &__description {
    width: 100%;
    height: 100px;
    border-style: none;
    padding: 16px;
    font-size: 23px;
    resize: none;

    @include respond(phone) {
      font-size: 17px;
      height: 70px;
    }

    &:focus {
      outline: none;
    }
  }
}

.color-box {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 18px;

  &__icon {
    width: 38px;
    height: 38px;
    cursor: pointer;

    @include respond(phone) {
      width: 30px;
      height: 30px;
    }
  }

  .happiness {
    width: 24px;
    height: 24px;
  }
}

.shareOptions-box {
  height: 58px;
  padding: 8px 15px;
  border: 1px solid #ced0d4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 10px;

  @include respond(phone) {
    height: 40px;
    margin-top: -10px;
  }

  &__title {
    @include respond(phone) {
      font-size: 12px;
    }
  }

  .share-options {
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(phone) {
      width: 150px;
    }

    .option {
      width: 36px;
      height: 36px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      cursor: pointer;

      @include respond(phone) {
        width: 24px;
        height: 24px;
      }

      &:hover {
        background-color: $notifactions-bc;
        transition: all 0.3s;
      }

      &__icon {
        width: 24px;
        height: 24px;

        @include respond(phone) {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.post-btn {
  height: 36px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 10px;
  background-color: $notifactions-bc;

  @include respond(phone) {
    height: 34px;
    margin-top: 13px;
  }

  &__post {
    font-weight: bold;
    color: #fff;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 235, 235, 0.6);
  backdrop-filter: blur(0.3px);
  z-index: 5;
}
