.notifications-container {
  width: 290.5px;
  height: 56px;
  padding-left: 4px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(tab-land) {
    padding-right: 0px;
    width: 235px;
  }
}

.notifications__icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .deleted {
    @include respond(tab-port) {
      visibility: hidden;
    }
  }
}

.user-container {
  margin-right: 8px;
  width: 90px;
  height: 36px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 50px;
  transition: all 0.4s;
  cursor: pointer;

  @include respond(tab-land) {
    display: none;
  }

  @include respond(phone) {
    display: none;
  }

  &:hover {
    background-color: $notifactions-bc;
    transition: all 0.4s;
  }

  &__name {
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
    color: $font-color;
  }

  &__img {
    width: 28px;
    height: 28px;
    border-radius: 50px;
  }
}

.icon-container {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $box-background;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: $btns-bc-hover;
    transition: all 0.4s;
  }

  &__img {
    width: 20px;
    height: 20px;
  }
}
