.pages-navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  .pages-container {
    display: flex;
    align-items: center;
    width: 660px;

    @include respond(tab-land) {
      width: 310px;
    }

    @include respond(tab-port) {
      width: 300px;
    }

    @include respond(phone) {
      display: none;
    }
  }

  .page {
    width: 111.5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: all 0.4s;
    cursor: pointer;
    margin-left: 6px;

    @include respond(tab-port) {
      width: 70px;
    }

    &:hover {
      background-color: $box-background;
      transition: all 0.4s;
    }

    &__logo {
      width: 28px;
      height: 28px;
    }
  }
}

.active {
  background-color: $blue-color;
}
